= javascript_include_tag "new/application", "data-turbolinks-track" => true
= stylesheet_link_tag    "new/application", media: "all", "data-turbolinks-track" => true
%script( type='text/x-handlebars' data-template-name='new/application')
  / Haml doesn't support handlebars as well as I'd like.
  / Until Ember supports HTMLBars I'll use
  / Emblem.
  {{partial 'app'}}
