%script{ type: 'text/x-handlebars' }
  / Login modal
  %div.modal.fade#signin-modal(tabindex="-1" role="dialog" aria-hidden="true")
    %div.modal-dialog
      %div.modal-content
        %div.modal-header
          %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          %h4.modal-title#myModalLabel Sign In
        %div.modal-body
          {{ render "signin" }}
        %div.modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close

  .container
    %nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          %span.navbar-brand Buzz
        %form.navbar-form.navbar-left(role='search')
          {{ view 'Buzz.SearchBarView' }}
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              User:
              %strong= @user.identifier
              %b.caret
            %ul.dropdown-menu
              %li
                %a Unimplemented - Claim Account
              %li
                %a Unimplemented - Info
              %li.divider
              %li
                -# Using window.location instead of a real link because
                  otherwise the ember app doesn't render after the redirect.
                %a(data-toggle="modal" data-target="#signin-modal")
                  Sign In
              %li
                -# Using window.location instead of a real link because
                  otherwise the ember app doesn't render after the redirect.
                = link_to_function "New Account",
                  "window.location = '#{signout_path}'"
    .row
      .col-md-2.col-sm-2
        %ul.nav.nav-pills.nav-stacked
          -# Nested link-to's place the 'active' class on the outside li.
          -# TODO: Make this a handlebars helper
          {{#link-to-li 'recent' }}Recent{{/link-to-li}}
          {{#link-to-li 'subscriptions' }}Subscriptions{{/link-to-li}}
      .col-md-6.col-sm-6
        {{ outlet }}
      .col-md-4.col-sm-4
        {{ render "queue" }}
