%script{ type: 'text/x-handlebars' }
  .container
    %nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          %span.navbar-brand Buzz
        %form.navbar-form.navbar-left(role='search')
          {{ view 'Buzz.SearchBarView' }}
    .row
      .col-md-2.col-sm-2
        %ul.nav.nav-pills.nav-stacked
          -# Nested link-to's place the 'active' class on the outside li.
          -# TODO: Make this a handlebars helper
          {{#link-to-li 'recent' }}Recent{{/link-to-li}}
          {{#link-to-li 'subscriptions' }}Subscriptions{{/link-to-li}}
      .col-md-6.col-sm-6
        {{ outlet }}
      .col-md-4.col-sm-4
        {{ render "queue" }}
