%script{ type: 'text/x-handlebars' }
  / Login modal
  %div.modal.fade#signin-modal(tabindex="-1" role="dialog" aria-hidden="true")
    %div.modal-dialog
      %div.modal-content
        %div.modal-header
          %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          %h4.modal-title#myModalLabel Sign In
        %div.modal-body
          {{ render "signin" }}
        %div.modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close

  / The navbar
  %nav.navbar.navbar-default.navbar-static-top(role='navigation')
    .player-navbar.container
      / Header
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        / Player
        {{#with controllers.queue.current_episode }}
        {{ render 'player' this }}
        {{/with}}


      / Collapsable area
      .collapse.navbar-collapse#navbar-collapse


        .visible-xs
          {{ main-nav }}

        %ul.nav.navbar-nav.navbar-right
          %li
            / Search area
            %form.hidden-xs.navbar-form(role='search')
              {{ view 'Buzz.SearchBarView' }}
          / Login form
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              %strong= @user.identifier
              %span.glyphicon.glyphicon-user
              %b.caret
            %ul.dropdown-menu
              %li
                %a Unimplemented - Claim Account
              %li
                %a Unimplemented - Info
              %li.divider
              %li
                -# Using window.location instead of a real link because
                  otherwise the ember app doesn't render after the redirect.
                %a(data-toggle="modal" data-target="#signin-modal")
                  Sign In
              %li
                -# Using window.location instead of a real link because
                  otherwise the ember app doesn't render after the redirect.
                %a(href='#' onclick="window.location='#{signout_path}'")
                  Sign Out

  / Here be everything else
  .container
    .row
      .col-md-2.hidden-xs
        {{ main-nav }}
      .col-md-6.col-xs-12
        {{ outlet }}
      .col-md-4.col-xs-12
        {{ render "queue" }}
