%script{ type: 'text/x-handlebars' }
  .container
    %nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          %span.navbar-brand Buzz
        %form.navbar-form.navbar-left(role='search')
          {{ view 'Buzz.SearchBarView' }}
    .row
      .col-md-2.col-sm-2
        %h2 Navigation
        %ul
          %li {{#link-to 'recent' }}Recent{{/link-to}}
          %li {{#link-to 'subscriptions' }}Subscriptions{{/link-to}}
      .col-md-6.col-sm-6
        {{ outlet }}
      .col-md-4.col-sm-4
        {{ render "queue" }}
