/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

.episode-progress-bar {
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 32px;
  transition: all .2s ease-in-out;
  z-index: -1;
}

.episode, .podcast {
  height: 32;
  overflow: hidden;
  margin: 12px 0;
  position: relative;
  width: 100%;
  z-index: 999;
  .media-heading {
    margin-left: 40px;
  }
  img {
    height: 32px;
    width: 32px;
  }
}

.tt-dropdown-menu {
  margin-top: 3px;
  color: #94999c;
  background-color: white;
  border: 1px solid #b8c3c9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 102;
  opacity: 0.97;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  img {
    max-height: 50px;
    max-width: 50px;
  }
  .tt-header {
    padding: 0 10px;
    border-bottom: 1px solid #b8c3c9;
  }
  .tt-suggestion {
    line-height: 19px;
    padding: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid #b8c3c9;
    }
  }
}
